h2, h3, h4, h5, h6 {
    margin: 5px 0 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    background-color: #FFF;
    background-attachment: scroll;
    background-image: url(../img/layout/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    font-family: Lato, sans-serif;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.subprograms .title {
    background: #9A6735;
    color: #FFF;
    font-size: 1.4em;
}

@media only screen and (max-width: 1340px) {
    .button, h1.title, h3.title {
        text-align: center;
    }
}

h3.title {
    font-size: 1em;
    margin: 10px 0;
    padding: 5px 0;
    background: #C1E899;
    color: #333;
}

h1.title, h3.title, nav.top > ul {
    text-transform: uppercase;
}

h1.title, h3.title {
    text-indent: 10px;
}

h2, h3, h4, h5, h6 {
    margin: 5px 0 0;
}

li {
    color: #000;
}

.subprograms-wrapper {
    background: linear-gradient(#C1E899, #9A6735);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    margin: 20px 20px 0;
}

.button {
    width: auto;
    font-size: 1em;
    font-weight: 400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 9px 18px;
    background-color: #9A6735;
    color: #FFF;
}

.right {
    float: right;
    display: block;
    margin: 10px;
}

.button, a, abbr[title], nav.top a {
    text-decoration: none;
}

a {
    color: #9A6735;
}

.subprograms {
    margin: 35px;
}

#content-wrapper {
    overflow: auto;
    max-width: 2000px;
    min-height: 500px;
    width: 100%;
}

/* Form CSS */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.card {
    padding: 40px 40px;
    width: 400px;
    margin-top: 100px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #C1E899;
}

.blue-text {
    color: #9A6735;
}

.form-control-label {
    margin-bottom: 0;
}

input,
textarea,
select,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: 15px !important;
    font-weight: 300;
}

input:focus,
textarea:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9A6735;
    outline-width: 0;
    font-weight: 400;
}

.btn-block {
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    text-align: center;
    background-color: #9A6735;
    color: #FFF;
}

.btn-block:hover {
    color: #FFF !important;
    background-color: #C1E899;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}
